<template name="edit-folder-form">
  <div class="row">
    <div class="input-field col s6">
      <input id="edit_folder_name" type="text" name="updatedFolderName" value={{self.folderName}} class="validate">
      <label class="active" for="edit_folder_name">New Folder Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="edit_folder_desc" type="text" value={{self.folderDesc}} name="updatedFolderDesc" class="validate">
      <label class="active" for="edit_folder_desc">New Folder Description</label>
    </div>
  </div>

</template>
