<template name="edit-proj-form">
  <div class="row">
    <div class="input-field col s6">
      <input id="edit_proj_name" type="text" value={{self.projName}} name="updatedProjName" class="validate">
      <label class="active" for="edit_proj_name">New Project Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="edit_proj_desc" type="text" value={{self.projDesc}} name="updatedProjDesc" class="validate">
      <label class="active" for="edit_proj_desc">New Project Description</label>
    </div>
  </div>

</template>
