<template name="folder">
  <div class="main container">
    <div class="sticky-wrapper stuck" style="height: 0px;">
      <div class="peek">
        <div class="ui vertical menu">
          <div class="ui simple dropdown item">
            New Post <i class="plus icon"></i>
            <div class="menu" id="thepoopmenu">
              <div class="ui mini input">
                <form class="new-post">
                  <div class="ui form">
                    <div class="field">
                      <div class="asshole">
                        <div class="poopoo">
                          <input class="butthole" type="text" placeholder="Post Name" name="postname"><br>
                        </div>
                        <div class="poopoo">
                          <textarea class="hole" type="text" placeholder="Description" name="postdes"></textarea><br>
                        </div>
                        <div class="poopoo">
                          <input class="butthole" type="text" placeholder="Image" name="postimg"><br>
                        </div>
                      </div>
                      <button class="ui submit button new-post">Create New Post</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="header">
              {{#each project folder.proj}}
              <a class="dammit" href="{{pathFor route='projectPage'  _id=this._id}}">{{this.projName}}</a>
              {{/each}}
            </div>
            <div class="menu">
              {{#each folders folder.proj}}
              <div class="link item">
                <a class="goddammit" href="{{pathFor route='folderPage' _project=this.proj _id=this._id}}">
                  {{this.folderName}}
                </a>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="ui dividing header">{{folder.folderName}}</h2>
  <div class="box"></div>
  {{#if Template.subscriptionsReady}}
  <div class="cardz">
    <div class="ui special cards">
      {{#each posts}}
      {{>post}}
      {{/each}}
    </div>
  </div>
  {{else}}
  Loading...
  {{> spinner}}
  {{/if}}

</template>
