<template name="header">
  <div class="ui inverted menu">

    {{#if currentUser}}
    <a class ="item" href="{{pathFor 'profilePage' _id=currentUser._id}}"><img src="http://i1298.photobucket.com/albums/ag42/xmusicdreamx/Uhook%20copy_zpsixuunqmi.png" border="0" alt=" photo Uhook copy_zpsixuunqmi.png"/></a>
    {{else}}
    <a class ="item" href="{{pathFor 'profilePage' _id=currentUser._id}}"><img src="http://i1298.photobucket.com/albums/ag42/xmusicdreamx/Uhook%20copy_zpsixuunqmi.png" border="0" alt=" photo Uhook copy_zpsixuunqmi.png"/></a>
    {{/if}}
    <a class="item about" href="{{pathFor 'about'}}">About Us</a>
    <div class="right menu">
      {{> atNavButton}}
    </div>
  </div>
</template>
