<template name="profile">
  <div class="newProj">
    <h1>Your Projects</h1>
    <form class="new-proj">
      <div class="ui form">
        <div class="inline mini fields">
          <div class="three wide field">
            <input class="butthole" type="text" placeholder="Project Name" name="projname">
          </div>
          <div class="five wide field">
            <input class="butthole" type="text" placeholder="Project Description" name="projdes">
          </div>
          <div class="three wide field">
              <button class="ui inverted submit button new-proj">Create New Project</button>
          </div>
        </div>
      </div>
    </form>
  </div>


  {{#if Template.subscriptionsReady}}
  <!-- This is displayed when all data is ready. -->
  <div class="ui internally celled grid">
  {{#each projects}}
  <!--can add templating to be fancy for all projects here-->

    <div class="row">
      <div class="two wide column">
        <img class="folderpic" src="http://icons.iconarchive.com/icons/danrabbit/elementary/64/Folder-grey-icon.png">
      </div>
      <div class="twelve wide column">
        <div class="eachProject">
          <div class="projectName">
            <a class="dammit" href="{{pathFor route='projectPage'}}">{{this.projName}}</a>
          </div>
          <div class="projectDescription">
              {{this.projDesc}}
          </div>
        </div>
      </div>
      <div class="two wide column">
        <div class="pushDisButton">
          <button class="ui mini button editproj" id={{this._id}}>Edit Project</button>
          <a class="deletelink"><i class="trash outline icon"></i></a>

        </div>
      </div>
    </div>

    {{/each}}
  </div>

  {{else}}
    Loading...
    {{> spinner}}
  {{/if}}



</template>
